* {
  font-family: "Saira", sans-serif;
}

form {
  margin-bottom: 20px;
}
input {
  margin: 15px;
}
header {
  text-align: center;
  height: 75px;
  width: flex;

  box-sizing: content-box;
}

#clear-hist {
  margin-left: 25px;
}

.card {
  padding: 5px;
}
